html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
header {
    background-image: url("assets/backgrounds/background_1.png");
    background-position: center
}
.background-nav-wrapper {
    background-color: #27262b;
}
nav {
    display: flex;
    padding: 32px 0 32px 0;
}
.logo img {
    height: 43px;
    width: 41px;
}
#logo-name {
    color: #8D81AC;
}
.nav-menu-item {
    color: #8D81AC;
}
.purple-button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 40px;
    border-width: 0px;
    background-color: #8D81AC;
}
h1 {
    font-weight: 700;
    color: white;
    text-align: center;
}
header h3 {
    font-weight: 400;
    color: #8D81AC;
    text-align: center;
}
header p {
    color: #848E97;
    text-align: center;
    font-weight: 400;
}
main {
    position: relative;
}
.download-purple-button {
    position: absolute; 
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
}
#free-trial-period{
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    color: #848E97;
}
main h2 {
    color: #635C73;
    font-weight: 700;
    text-align: center;
}
#revolutionaty-editor-text {
    font-family: "Lato";
    text-align: center;
    font-weight: 400;
}
main img {
    display: block;
    margin: 0 auto;
}
#github-first-part {
   padding-bottom: 20px;
}
#features h2 {
    font-weight: 700;
    text-align: center;
    color: #8D81AC;
}
.features-wrapper {
    display: flex;
    flex-direction: column;
}
.features-description-first-text {
    font-weight: 400;
    color: #323232;
}
.features-description-second-text {
    font-family: "Lato";
    font-weight: 400;
    color: #848E97;
}
.background-reviews-price-wrapper{
    background-image: url(assets/backgrounds/background_2.png), url(assets/backgrounds/background_3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto, 100% auto;
}
.reviews-and-pricing-main-text {
    text-align: center;
    font-weight: 700;
    color: white;
}
.logos-wrapper {
    display: grid;
}
.logo-img {
    display: block;
    margin: 0 auto 33px auto;
}
.logo-text {
    font-family: "Lato";
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    font-weight: 700;
    color: white;
    text-align: center;
}
#reviews-and-pricing > p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
}
.line-review {
    height: 2px;
    background-color: #645766;
}
@media screen and (max-width: 768px){
    #logo-name {
        display: none; 
    }
    nav {
        justify-content: space-between;
        align-items: center;
    }
    .nav-menu {
        display: none;
    }
    .nav-purple-button {
        font-size: 15px;
        line-height: 15px;
        padding: 6px 24px;
        height: 37px;
    }
    .burger-menu {
        width: 26px;
        height: 21px;
    }
    h1 {
        margin: 49px 0 19px 0;
        font-size: 48px;
        line-height: 48px;
    }
    header h3 {
        font-size: 18px;
        line-height: 24px;
    }
    header p {
        font-size: 14px;
        line-height: 14px;
        padding: 14px 0 415px 0;
    }
    .download-purple-button {
        font-size: 18px;
        line-height: 20px;
        padding: 13px 29px;
        width: 290px;
        top:-23px;
    }
    #free-trial-period{
        padding-top: 35px;
        line-height: 14px;
    }
    main h2 {
        font-size: 26px;
        line-height: 28px;
        padding-top: 71.5px;
    }
    #revolutionaty-editor-text {
        font-size: 14px;
        line-height: 20px;
        padding: 27px 0 36px 0;
    }
    #features h2 {
        font-size: 32px;
        line-height: 38px;
        padding: 120px 0 36px 0; 
    }
    .icon-img {
        display: block;
        margin: 0 auto 27px auto;
    }
    .features-wrapper {
        gap: 37px;
    }
    .features-description-first-text {
        font-size: 16px;
        line-height: 16px;
        padding-bottom: 14px;
        text-align: center;
    }
    .features-description-second-text {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
    }
    #ide {
        width: 100%;
        margin: 58px 0 6px 0;
    }
    #reviews-main-text {
        font-size: 36px;
        line-height: 48px;
        padding: 57px 0 53px 0;
    }
    .logos-wrapper {
        grid-template-columns: 1fr;
        row-gap: 41px;
    }
    #reviews-and-pricing > p {
        padding: 29px 0 22px 0;
    }
    #price-main-text {
        font-size: 28px;
        line-height: 42px;
        padding: 12px 0 32px 0;
    }
}